{% block localhost %}
127.0.0.1       localhost localhost.localdomain localhost4 localhost4.localdomain4
{% endblock %}

{% block main %}
{%- for host in groups.all | sort %}
{{ '{:<15}'.format(hostvars[host].ip) }} {{ host }}
{# _preserve_new_line #}
{%- endfor %}
{% endblock %}

